In [9]:
import pandas as pd
import geopandas as gpd 
import requests 
import json
from datetime import datetime
from io import StringIO
import csv
import os

In [2]:
from airqualityandclimateAPI import *

In [ ]:
# !pip install geopy

Collecting geopy
  Downloading geopy-2.4.1-py3-none-any.whl.metadata (6.8 kB)
Collecting geographiclib<3,>=1.52 (from geopy)
  Downloading geographiclib-2.1-py3-none-any.whl.metadata (1.6 kB)
Downloading geopy-2.4.1-py3-none-any.whl (125 kB)
Downloading geographiclib-2.1-py3-none-any.whl (40 kB)
Installing collected packages: geographiclib, geopy
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2/2 [geopy]
Successfully installed geographiclib-2.1 geopy-2.4.1

In [3]:
illinoiscode = '17'
cookcode = '031'
extra = 'none'

# PMdf = airquality(illinoiscode, cookcode, True)
airdf = airquality(illinoiscode, cookcode, 2025, PMcodes=False)

Air quality API request took 62.08484506607056 seconds

In [6]:
airdf['date_local'] = pd.to_datetime(airdf['date_local'])
airdf['date_local'].max()

# airdf.head()

Timestamp('2025-11-30 00:00:00')

In [ ]:
# PM code checker:
# codeequals = PMdf.loc[PMdf['code'] == '88105', 'value_represented']

# Code list:
# for index, row in PMdf.iterrows():
#     print(row['code'], row['value_represented'])

NameError: name 'PMdf' is not defined

In [10]:
dir = '/Users/griffinberonio/Documents/AAE 724/Datasets/climatedata'
totaldf = None
for file in os.listdir(dir):
    if file.endswith('.csv'):
        df = pd.read_csv(os.path.join(dir, file))
        if totaldf is None:
            totaldf = df
        else:
            totaldf = pd.concat([totaldf, df], ignore_index=True)

filepath = '/Users/griffinberonio/Documents/AAE 724/Datasets/climatedata/totalclimatedata.csv'
totaldf.to_csv(filepath, index=False)

/var/folders/d1/xmw0d36x7fn39t0jfvtsbzk80000gn/T/ipykernel_33395/4040326799.py:5: DtypeWarning: Columns (9,11,12,13,14,15,36,55,92,93,94,95,96,97,98,99,100,101,102,103) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(os.path.join(dir, file))
/var/folders/d1/xmw0d36x7fn39t0jfvtsbzk80000gn/T/ipykernel_33395/4040326799.py:5: DtypeWarning: Columns (38) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(os.path.join(dir, file))

In [14]:
totaldf.head()
# totaldf['STATION'].unique()

totaldf['DATE'] = pd.to_datetime(totaldf['DATE'])
totaldf['DATE'].max()

Timestamp('2025-01-02 23:55:00')

# Renewable Generators Data

In [17]:
renewablespath = '/Users/griffinberonio/Documents/AAE 724/Datasets/RenewableGeneratorsRegisteredinGATS_20260203_110659.csv'
renewablesdf = pd.read_csv(renewablespath, encoding='latin-1')
renewablesdf.head()

/var/folders/d1/xmw0d36x7fn39t0jfvtsbzk80000gn/T/ipykernel_33395/763020309.py:2: DtypeWarning: Columns (4,11,12,13,14,15,16,17,18,19,20,21,22,23,24,26) have mixed types. Specify dtype option on import or set low_memory=False.
  renewablesdf = pd.read_csv(renewablespath, encoding='latin-1')

,Plant Name,Unit Name,ORISPL (Plant Code),GATS Unit ID,PJM Unit?,State,County,Balancing Authority,Nameplate,Date Online,...,Eighth,New Jersey,Maryland,Pennsylvania,District of Columbia,Delaware,Illinois,Ohio,Virginia,EFEC Eligible
0,WestRock Demopolis mill,Gen 2 & 4,54763.0,NON177006,NaN,AL,Marengo,Southern Company,54.00000,11/01/1982,...,NaN,NaN,NaN,NaN,DC-176922-WDS-I,NaN,NaN,NaN,NaN,NaN
1,& Kate McMahon-Josh Lasky-DC-PV-4.56kw Residence,& Kate McMahon-Josh Lasky-DC-PV-4.56kw Residence,NaN,NON185511,NaN,DC,District of Columbia,PJM Interconnection,0.00456,03/01/2017,...,NaN,NaN,NaN,NaN,DC-177064-SUN-I,NaN,NaN,NaN,NaN,NaN
2,& Manuel Bueno-Farah Kutmangil Bueno-DC-ST-2.6...,& Manuel Bueno-Farah Kutmangil Bueno-DC-ST-2.6...,NaN,NON102701,NaN,DC,District of Columbia,PJM Interconnection,0.00264,01/01/2015,...,NaN,NaN,NaN,NaN,DC-155582-STH-I,NaN,NaN,NaN,NaN,NaN
3,(Ann) Robin Rupli,(Ann) Robin Rupli,NaN,NON294286,NaN,DC,District of Columbia,PJM Interconnection,0.00646,03/01/2020,...,NaN,NaN,NaN,NaN,DC-2011001-SUN-I,NaN,NaN,NaN,VA-235847-SUN,NaN
4,: 3025 Porter St Condominium,: 3025 Porter St Condominium,NaN,NON48249,NaN,DC,District of Columbia,PJM Interconnection,0.01800,04/01/2010,...,NaN,NaN,NaN,NaN,DC-102184-STH-I,NaN,NaN,NaN,NaN,NaN

In [23]:
cookrenewables = renewablesdf[(renewablesdf['State'] == 'IL') & (renewablesdf['County'] == 'Cook')]
cookrenewables['Date Online'] = pd.to_datetime(cookrenewables['Date Online'])
cookrenewables['Date Online'].min()

/var/folders/d1/xmw0d36x7fn39t0jfvtsbzk80000gn/T/ipykernel_33395/4255853314.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cookrenewables['Date Online'] = pd.to_datetime(cookrenewables['Date Online'])

Timestamp('1989-03-01 00:00:00')

# Climate Data Variable Data

In [25]:
climatepath = '/Users/griffinberonio/Documents/AAE 724/Datasets/climatedata/totalclimatedata.csv'
climatedf = pd.read_csv(climatepath)
climatedf['DATE'] = pd.to_datetime(climatedf['DATE'])

/var/folders/d1/xmw0d36x7fn39t0jfvtsbzk80000gn/T/ipykernel_33395/3306366799.py:2: DtypeWarning: Columns (9,11,12,13,14,15,18,23,28,36,38,40,55,56,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,106) have mixed types. Specify dtype option on import or set low_memory=False.
  climatedf = pd.read_csv(climatepath)

In [31]:
climatecols = climatedf.columns
len(climatecols)
climatedf['DATE'].max()

Timestamp('2025-01-02 23:55:00')

# Air Quality Data

In [ ]:
airqualitypath = '/Users/griffinberonio/Documents/AAE 724/Datasets/master_aqs_df_17_031.csv'
airqualitydf = pd.read_csv(airqualitypath)
airqualitydf['date_local'] = pd.to_datetime(airqualitydf['date_local'])
airqualitydf['date_local'].max()
print(airqualitydf.columns)

Index(['state_code', 'county_code', 'site_number', 'parameter_code', 'poc',
       'latitude', 'longitude', 'datum', 'parameter', 'sample_duration_code',
       'sample_duration', 'pollutant_standard', 'date_local',
       'units_of_measure', 'event_type', 'observation_count',
       'observation_percent', 'validity_indicator', 'arithmetic_mean',
       'first_max_value', 'first_max_hour', 'aqi', 'method_code', 'method',
       'local_site_name', 'site_address', 'state', 'county', 'city',
       'cbsa_code', 'cbsa', 'date_of_last_change'],
      dtype='object')

/var/folders/d1/xmw0d36x7fn39t0jfvtsbzk80000gn/T/ipykernel_33395/96987479.py:2: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  airqualitydf = pd.read_csv(airqualitypath)

In [38]:
siteaddresses = airqualitydf['site_address'].unique()
print(siteaddresses)
len(siteaddresses)

gpd.tools.geocode(siteaddresses)

['4500 W. 123RD ST.' '3535 E. 114TH ST.' '4850 WILSON AVE.'
 '1745 N. SPRINGFIELD' '7801 LAWNDALE' '50TH ST. AND GLENCOE'
 '4743 MANNHEIM RD.' '60TH ST. & 74TH AVE.' '9511 W. HARRISON ST'
 '750 DUNDEE ROAD' '13TH ST. & 50TH AVE.'
 'KINGERY EXPRESSWAY & TORRENCE AVENUE']

,geometry,address
0,POINT (-87.73182 41.66851),"4500, West 123rd Place, 60803, West 123rd Plac..."
1,POINT (-87.53826 41.68755),"George Washington High School, 3535, East 114t..."
2,POINT (-89.99973 30.02088),"4850, Wilson Avenue, 70126, Wilson Avenue, New..."
3,POINT (-119.45824 49.87667),"1745, Springfield Road, V1Y 9P6, Springfield R..."
4,POINT (-87.71299 41.75112),"7801-7815, South Lawndale Avenue, 60652, South..."
5,POINT (-87.76341 42.14307),"Lute F. and Daniel Kissam House, 1023, Meadow ..."
6,POINT (-75.1302 40.02353),"4743, North 3rd Street, 19120, North 3rd Stree..."
7,POINT (-87.66348 41.75914),"Ashland Ave & 74th St, South Ashland Avenue, 6..."
8,POINT (-87.86313 42.06031),"Illinois Lottery District Office, 9511, Harris..."
9,POINT (-88.34265 42.11349),"Randall Oaks Park, 750, Randall Road, 60118, R..."
10,POINT (-73.99232 40.63418),"50th Street & 13th Avenue, 50th Street, 11219,..."
11,POINT EMPTY,None